body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background: linear-gradient(109.6deg, rgb(49, 122, 195) 11.2%, rgb(17, 106, 197) 91.1%);
    color: white;
    padding: 20px;
    border-radius: 20px 0 20px 0;
    font-size: 32px;
    margin-bottom: 50px;
}

label {
    font-weight: bold;
    display: inline-block;
    width: 40px;
    font-size: 20px;
    padding: 5px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}

.conversion_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: 1px solid black;
    padding: 40px;
    border-radius: 5px;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.submit_btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 24px;
    background: linear-gradient(109.6deg, rgb(49, 122, 195) 11.2%, rgb(17, 106, 197) 91.1%);
    color: white;
    border: none;
    cursor: pointer;
}

.submit_btn:hover {
    filter: brightness(90%);
}

.results_table {
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.results_table td {
    padding: 20px;
    border: 1px solid black;
    font-size: 18px;
}

.results_table tr:hover {
    background-color: #e6f7ff;
}