input {
    margin-bottom: 10px;
    height: 30px;
    font-size: 20px;
}

label {
    margin-right: 5px;
}

button {
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 200px;
    height: 70px;
    font-size: 20px;
    margin-bottom: 20px;
}

body {
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 20px;
}

.cart_geo_in {
    width: 200px;
}

.geo_cart_in {
    width: 50px;
}